<nav class="player-header-nav navbar">
  <div class="container">
    <div class='navbar-header'> <!-- Nav Bar -->
      <a class='logo navbar-left' ui-sref="landing" data-intro="Navigate back to home by clicking the album image." data-position="right">
        <img src="/images/blocjams.png">
      </a>
    </div>
    <div class="chardin-container">
      <a class="btn btn-default start-chardin" toggle-chardin>
        What can I do on this page?
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a ui-sref='collection' data-intro="Visit our album collection page where you can play music." data-position="left">Library</a></li>
      <li><a ui-sref='profile' data-intro="Visit the user profile page to see how we implement JavaScript tabs." data-position="bottom">Profile</a></li>
    </ul>
  </div>
</nav>

<div class='hero-content'> <!-- Hero content -->
  <div class='container'>
    <h1 ng-click="subTextClicked()" data-intro="Add some exclamation points to our subtitle by clicking here." data-position="bottom"> {{ subText }} </h1>
  </div>
</div>

<div class='selling-points container'> <!-- selling points -->
  <div class='row'>
    <div class='point col-md-4'>
      <img src="/images/icon-collection.png" class="selling-point-img">
      <h5> Choose your music </h5>
      <p> The world is full of music; why should you have to listen to music that someone else chose? </p>
    </div>
    <div class='point col-md-4'>
      <img src="/images/icon-unlimited.png" class="selling-point-img">
      <h5> Unlimited, streaming, ad-free </h5>
      <p> No arbitrary limits. No distractions. Just you, your ears, and your music. </p>
    </div> 
    <div class='point col-md-4'>
      <img src="/images/icon-mobile.png" class="selling-point-img">
      <h5>Mobile enabled</h5>
      <p> Listen to your music on the go. This streaming service is available on all mobile platforms</p>
    </div>
  </div>
</div>

<div class="landing-album-list container">
  <div class="row" data-intro="Shuffle the albums images by clicking any of them." data-position="top">
    <div class="col-md-4" ng-repeat="albumURL in albumURLs" ng-click="moveImage()">
      <img ng-src="{{albumURL}}" class="album-images">
    </div>
  </div>
</div>