<nav class="player-header-nav navbar">
  <div class="container">
    <div class='navbar-header'> <!-- Nav Bar -->
      <a class='logo navbar-left' ui-sref="landing">
        <img src="/images/blocjams.png">
      </a>
    </div>
    <div class="chardin-container">
      <a class="btn btn-default start-chardin" toggle-chardin>
        What can I do on this page?
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a ui-sref='collection'>Library</a></li>
      <li><a ui-sref='profile'>Profile</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="user-profile-tabs-container">
    <ul class="profile-pagination pagination tabs" data-intro="Navigate between the tabs." data-position="bottom">
      <li class='tab' ng-class="{'active': isTabVisible('yourAccount')}" style="cursor: pointer">
        <a ng-click="switchTab('yourAccount')">Your Account</a>
      </li>
      <li class='tab' ng-class="{'active': isTabVisible('subscription')}" style="cursor: pointer">
        <a ng-click="switchTab('subscription')">Subscription</a>
      </li>
    </ul>
  </div>
  <div class="user-account tab-pane" id="yourAccountTab" ng-show="isTabVisible('yourAccount')">
    <div class="page-header user-profile-header">Personal Information</div>
    <div class="row">
      <div class="col-md-3">
        <div class="user-image-container"><img src="/images/user-upload-placeholder.png"/>
          <div style="padding: 10px" class="div"></div>
          <button class="default-button center-block">UPLOAD</button>
        </div>
      </div>
      <div class="col-md-7">
        <form role="form" class="default-form">
          <div class="form-group col-md-12">
            <label for="name">Name</label>
            <input name="name" type="text" class="form-control"/>
          </div>
          <div class="form-group col-md-12">
            <label for="email">Email</label>
            <input name="email" type="email" class="form-control"/>
          </div>
          <div class="form-group col-md-6">
            <label for="city">City</label>
            <input name="city" type="text" class="form-control"/>
          </div>
          <div class="form-group col-md-6">
            <label for="state">State</label>
            <input name="state" type="text" class="form-control"/>
          </div>
          <div class="form-group col-md-12">
            <label for="country">Country</label>
            <input name="country" type="text" class="form-control"/>
          </div>
          <button class="default-button center-block">SAVE PROFILE</button>
        </form>
        <div style="padding: 20px" class="div"></div>
        <form role="form" class="default-form">
          <div class="form-group col-md-12">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control"/>
          </div>
          <div class="form-group col-md-12">
            <label for="confirmation">Password Confirmation</label>
            <input name="confirmation" type="password" class="form-control"/>
          </div>
          <button class="default-button center-block">CHANGE PASSWORD</button>
        </form>
      </div>
    </div>
  </div>
  <div class='user-subscription tab-pane' id="subscriptionTab" ng-show="isTabVisible('subscription')">

    <div class="row text-center">
      <img src="/images/subscription-placeholder.png"/><img src="/images/subscription-placeholder.png"/><img src="/images/subscription-placeholder.png"/>
    </div>
    <div style="padding:20px"></div>
    <div class="row">
      <div class="col-sm-6 col-sm-push-3">
        <h3 class="subsection-label col-sm-12">Credit Cards</h3>
        <div class="col-sm-12">
          <table class="table credit-card-list">
            <tr>
              <td class="col-sm-2">VISA</td>
              <td class="col-sm-9">XXXX-1234</td>
              <td class="col-sm-1"><i class="fa fa-minus-circle"></i></td>
            </tr>
            <tr>
              <td class="col-sm-2">VISA</td>
              <td class="col-sm-9">XXXX-1234</td>
              <td class="col-sm-1"><i class="fa fa-minus-circle"></i></td>
            </tr>
          </table>
          <button class="default-button center-block">ADD CARD</button>
        </div>
      </div>
    </div>
  </div>
</div>
